.home-container{
    width: 100%;
    height: 100%;
    padding: 10px 20px 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.home-container h2{
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 20px;
    color: var(--blue);
    font-weight: 500;
}

/* content */
.home-content{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.home-content .content-box{
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}

.home-content .content-box h3{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    padding: 15px 0;
    color: var(--blue);
}

.home-content .content-box p{
    letter-spacing: 1px;
    text-align: justify;
    line-height: 30px;
    color: var(--gray);
}

/* box content */
.home-content-box{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
   padding: 20px;
   background-color: var(--white);
   border-radius: 16px;
}

.home-content-box .box{
    width: 400px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
}

.home-content-box .box img{
    width: 80px;
    height: 80px;
}

.home-content-box .box h3{
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
    color: var(--blue);
}

.home-content-box .box p{
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 0.9rem;
}

@media screen and (max-width: 1000px) {
    .home-container > .home-content{
        width: 100%;
    }
    .home-container > h2{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 778px) {
    .home-container{
        padding: 30px;
        gap: 20px;
    }
    .home-container > h2{
        font-size: 1.6rem;
        padding: 0;
        margin: 0;
    }
    .home-container > .home-content{
        padding: 0;
        width: 100%;
    }
    .home-container > .home-content > .content-box > h3{
        font-size: 20px;
    }
    .home-container > .home-content > .content-box > p{
        font-size: 14px;
        letter-spacing: 0px;
    }
    .home-content-box{
        gap: 20px;
    }
    .home-content-box > .box{
       width: 80%;
       height: 200px;
    }
    .home-content-box > .box > img{
        width: 70px;
        height: 70px;
    }
    .home-content-box > .box > h3{
        font-size: 18px;
    }
    .home-content-box > .box > p{
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .home-container{
        padding: 20px;
        gap: 20px;
    }
    .home-container > h2{
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
    }
    .home-container > .home-content{
        padding: 0;
        width: 100%;
        gap: 0;
    }
    .home-container > .home-content > .content-box > h3{
        font-size: 17px;
    }
    .home-container > .home-content > .content-box > p{
        font-size: small;
        line-height: 25px;
        letter-spacing: 0px;
    }
    .home-content-box{
        gap: 10px;
    }
    .home-content-box > .box{
       width: 80%;
       height: 200px;
    }
    .home-content-box > .box > img{
        width: 60px;
        height: 60px;
    }
    .home-content-box > .box > h3{
        font-size: 16px;
    }
    .home-content-box > .box > p{
        font-size: small;
    }
}